section.hero
  .container
    .hero__content
      .text-neon
        h2.hero__title!= 'Chào mừng bạn đến với <strong>WomenTech</strong>'
        span.text-color
      p.hero__desc='WTA là đồng tiền bản vị cảu hệ sinh thái WomenTech'
    button='Đăng nhập'
