section.media 
  .container 
    button='view all'
    +textTitle('Media')
    .post__list
      +post('../images/media.jpg', 'We provide what you need to start or grow your business.', '4 Aug, 2020')

      +post('../images/media.jpg', 'We provide what you need to start or grow your business.', '4 Aug, 2020')

      +post('../images/media.jpg', 'We provide what you need to start or grow your business.', '4 Aug, 2020')