section.service 
  .container 
    +textTitle('Dịch vụ WTA')
    .card__list 
      +card('../images/h1.png', 'Kết nối', 'Kết nối, kiến tạo cộng đồng, tạo môi trường phát triển')

      +card('../images/h2.png', 'Đầu tư', 'Đầu tư, gọi vốn, gia tăng năng lực tài chính')

      +card('../images/h3.png', 'Xây dựng', 'Tạo lập nền tảng và giá trị cốt lõi')

      +card('../images/h4.png', 'Phát triển', 'Đồng hành tạo đà tăng trưởng bền vững')

      +card('../images/h5.png', 'Hệ sinh thái bền vững', 'Liên kết và tạo mạng lưới hợp tác vững mạnh')