html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

.main {
  background: url("../images/main_bg.png") no-repeat center/cover; }

h2.title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 5rem; }

.card {
  color: white;
  padding: 50px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent; }
  .card__thumbnail {
    margin-bottom: 50px; }
  .card__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px; }
  .card__desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 30px; }
  .card__more {
    color: #EC4C93; }
  .card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #fff; }
  .card:hover {
    border: 1px solid #EC4C93;
    -webkit-box-shadow: 0 0 10px 0 #EC4C93;
    box-shadow: 0 0 10px 0 #EC4C93; }

.post {
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent; }
  .post__content {
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px; }
  .post__thumbnail {
    margin-bottom: 40px; }
  .post__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px; }
  .post__desc {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 30px; }
  .post__more {
    color: #EC4C93; }
  .post:hover {
    border: 1px solid #EC4C93;
    -webkit-box-shadow: 0 0 10px 0 #EC4C93;
    box-shadow: 0 0 10px 0 #EC4C93; }

.header {
  background-color: #20062E; }

nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 0; }

.nav__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px; }

.nav__link {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .nav__link:hover {
    opacity: 0.8; }

.nav__item {
  font-weight: 500;
  color: white; }

.nav__sign-in {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px; }
  .nav__sign-in button {
    padding: 7px 10px; }

.toggle__menu {
  display: none; }

@media screen and (max-width: 1023px) {
  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: #20062e;
    z-index: 10;
    padding: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .nav__menu.show {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .nav__sign-in {
    margin-left: 0;
    padding-left: 10px; }
  .nav__link {
    padding: 5px; }
  .nav__item {
    pointer-events: none; }
  .toggle__menu {
    display: block;
    margin-left: auto;
    color: white;
    font-size: 2.5rem;
    position: relative;
    z-index: 999; } }

.hero {
  background-color: #09010e;
  background-image: url("../images/flower.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 100px; }
  .hero__content {
    width: 50%; }
  .hero__title {
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 30px; }
  .hero__desc {
    color: #EC4C93;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 50px; }
  .hero button {
    text-transform: uppercase;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 2rem; }

.about {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px; }
  .about__caption {
    padding-top: 25px;
    padding-bottom: 120px;
    text-align: center;
    font-weight: 500;
    font-size: 30px; }
  .about__post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 75px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about__post > * {
      width: 50%; }
  .about__title {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px; }
  .about__article {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  .about__thumbnail {
    position: relative; }
    .about__thumbnail img:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.service {
  padding-top: 100px;
  padding-bottom: 100px; }
  .service .card__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }

.media {
  padding-top: 100px;
  padding-bottom: 100px; }
  .media .post__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 20px;
    color: white;
    padding-top: 60px; }
  .media .container {
    position: relative; }
  .media button {
    position: absolute;
    top: 0;
    right: 10px;
    text-transform: uppercase;
    padding: 10px 30px; }

button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  border: none;
  background-color: transparent;
  border: 2px solid #EC4C93;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0px #EC4C93;
  box-shadow: 0 0 5px 0px #EC4C93;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  button:hover {
    -webkit-box-shadow: 0 0 10px 0px #EC4C93;
    box-shadow: 0 0 10px 0px #EC4C93; }
